@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fixCen {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.rs {
  padding: 0;
  margin: 0;
}

.error,
.errors {
  margin-bottom: -5px;
  color: red;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 12px;
}

.wrapper-sum {
  background: url("../images/bg.jpg") top/100% no-repeat #1d0c42;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #fff;
  padding-bottom: 20px;
}
.wrapper-sum .box-top {
  padding: 1.3888888889vw;
}
.wrapper-sum .logo {
  display: block;
  position: absolute;
  top: -2.7777777778vw;
  width: 41.6666666667vw;
  height: 39.7222222222vw;
  left: 50%;
  margin-left: -20.8333333333vw;
  z-index: 2;
}
.wrapper-sum .logo img {
  width: 100%;
  vertical-align: top;
}
.wrapper-sum .box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11.1111111111vw;
}
.wrapper-sum .icon-support {
  display: block;
  width: 18.6111111111vw;
  height: 15.9722222222vw;
}
.wrapper-sum .icon-support.icon-sale {
  background: url("../images/btn-support.png") 0/100% no-repeat;
}
.wrapper-sum .icon-support.icon-group {
  background: url("../images/btn-group.png") 0/100% no-repeat;
}
.wrapper-sum .box-download {
  display: flex;
  justify-content: center;
  gap: 1.3888888889vw;
  flex-wrap: wrap;
}
.wrapper-sum .box-download a {
  display: block;
  width: 38.8888888889vw;
  height: 13.0555555556vw;
  border-radius: 6.9444444444vw;
  overflow: hidden;
  position: relative;
}
.wrapper-sum .box-download a.btn-ggplay {
  background: url("../images/btn-ggplay.png") 0/100% no-repeat;
}
.wrapper-sum .box-download a.btn-appstore {
  background: url("../images/btn-ios.png") 0/100% no-repeat;
}
.wrapper-sum .box-download a.btn-android {
  background: url("../images/btn-android.png") 0/100% no-repeat;
}
.wrapper-sum .box-download a.btn-web {
  background: url("../images/btn-web.png") 0/100% no-repeat;
}
.wrapper-sum .box-download a::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 30;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  width: 100%;
  height: 100%;
  -webkit-animation: lightSpeedOut infinite 1.5s both;
          animation: lightSpeedOut infinite 1.5s both;
}
.wrapper-sum .swiper-container img {
  width: 100%;
}
.wrapper-sum .swiper-container .swiper-pagination-bullet {
  background: #afc27d;
  width: 14px;
  height: 14px;
  opacity: 1;
}
.wrapper-sum .swiper-container .swiper-pagination-bullet:focus {
  outline: none;
}
.wrapper-sum .swiper-container .swiper-pagination-bullet-active {
  background-color: #e7bb4b;
}
.wrapper-sum .swiper-container .swiper-pagination {
  bottom: 0;
}
.wrapper-sum .box-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.1666666667vw;
}
.wrapper-sum .box-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.7222222222vw;
  height: 13.8888888889vw;
  margin: 1.3888888889vw;
}
.wrapper-sum .box-social a .light {
  display: block;
  height: 11.3888888889vw;
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(13% 0, 86% 0, 100% 50%, 87% 100%, 11% 96%, 0% 50%);
          clip-path: polygon(13% 0, 86% 0, 100% 50%, 87% 100%, 11% 96%, 0% 50%);
}
.wrapper-sum .box-social a .light::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 30;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  width: 100%;
  height: 100%;
  -webkit-animation: lightSpeedOut infinite 1.5s both;
          animation: lightSpeedOut infinite 1.5s both;
}
.wrapper-sum .box-social a.btn-fb {
  background: url("../images/btn-fb.png") 0/100% no-repeat;
}
.wrapper-sum .box-social a.btn-telegram {
  background: url("../images/btn-telegram.png") 0/100% no-repeat;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

@-webkit-keyframes lightSpeedOut {
  0% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(180%) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(180%) skewX(-30deg);
    opacity: 0;
  }
}
@media only screen and (min-width: 721px) {
  .fixCen {
    width: 720px;
  }
  .error,
.errors {
    font-size: 14px;
  }
  .wrapper-sum {
    background: url("../images/bg.jpg") 50% -110px no-repeat #000000;
    background-size: 1920px auto;
    width: 100%;
  }
  .wrapper-sum .box-top {
    padding: 10px;
  }
  .wrapper-sum .logo {
    top: -20px;
    width: 300px;
    height: 286px;
    margin-left: -150px;
  }
  .wrapper-sum .box-top {
    padding: 80px;
  }
  .wrapper-sum .icon-support {
    width: 134px;
    height: 115px;
  }
  .wrapper-sum .box-download {
    gap: 10px;
  }
  .wrapper-sum .box-download a {
    width: 280px;
    height: 94px;
    border-radius: 50px;
  }
  .wrapper-sum .box-social {
    margin-top: 30px;
  }
  .wrapper-sum .box-social a {
    width: 250px;
    height: 100px;
    margin: 10px;
  }
  .wrapper-sum .box-social a .light {
    height: 82px;
  }
}
